
#http://localhost:8761/eureka
#http://eureka-server:8761/eureka

server:
  port: ${PORT:0}

spring:
  application:
    name: buscador-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL}

  instance:
    prefer-ip-address: true
    secure-port-enabled: true
    secure-port: 443
    metadata-map:
      public-host: ${RAILWAY_PUBLIC_DOMAIN}
      public-protocol: https
      public-port: 443




    