server:
  port: ${PORT}

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    prefer-ip-address: true
    hostname: ${RAILWAY_PUBLIC_DOMAIN}
